# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
#TRUSTED_PROXIES=127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
#TRUSTED_HOSTS='^localhost|example\.com$'
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# For an SQLite database, use: "sqlite:///%kernel.project_dir%/var/data.db"
# For a PostgreSQL database, use: "postgresql://db_user:db_password@127.0.0.1:5432/db_name?serverVersion=11&charset=utf8"
# IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml

###< doctrine/doctrine-bundle ###

###> symfony/mailer ###
# MAILER_DSN=smtp://localhost
###< symfony/mailer ###
COMPOSE_TLS_VERSION=TLSv1_2
AWS_S3_ACCESS_BUCKET=
AWS_S3_ACCESS_ID=
AWS_S3_ACCESS_SECRET=
BASE_PHP_IMAGE=641201314091.dkr.ecr.eu-central-1.amazonaws.com/php-base:cb5191475d444cb21e7b45a321c6edf61ad1ccbf
DB_NAME=lookpet
DB_USER=root
DB_PASSWORD=
DB_HOST=database
DATABASE_URL=mysql://root@database/lookpet?serverVersion=8
XDEBUG_HOST=192.168.99.1
XDEBUG_SERVER_NAME=lookpet.docker

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN=^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$
###< nelmio/cors-bundle ###

#docker
PROJECT_DIR_LOCATION_HOST=./
PROJECT_PUBLIC_DIR_LOCATION_HOST=./public
###> sentry/sentry-symfony ###
SENTRY_DSN=
###< sentry/sentry-symfony ###

#maijet
MJ_APIKEY_PUBLIC=
MJ_APIKEY_PRIVATE=
MJ_FROM_EMAIL=
MJ_FROM_NAME=Look Pet
MJ_TEMPLATE_WELCOME=1685295
MJ_TEMPLATE_RESET_PASSWORD=1692904
