<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        bootstrap="tests/bootstrap.php"
        colors="true"
>
    <php>
        <env name="APP_ENV" value="test" force="true" />
        <env name="IS_SEND_EMAIL_NOTIFICATIONS" value="true" />

        <!-- ###+ symfony/messenger ### -->
        <!-- Choose one of the transports below -->
        <!-- MESSENGER_TRANSPORT_DSN=amqp://guest:guest@localhost:5672/%2f/messages -->
        <!-- MESSENGER_TRANSPORT_DSN=doctrine://default -->
        <!-- MESSENGER_TRANSPORT_DSN=redis://localhost:6379/messages -->
        <!-- ###- symfony/messenger ### -->
    </php>
    <testsuites>
        <testsuite name="default">
            <directory prefix="" suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>